/* ========================================================================
   PIE DE PÁGINA (_FOOTER.SCSS)
   ========================================================================
   Estilos para el pie de página del sitio
   
   Contenido:
   - Contenedor footer (.site-footer, .site-footer-inner)
   - Marca del footer (.footer-brand)
   - Enlaces del footer (.footer-links, .footer-social-links)
   - Copyright (.footer-copyright)
======================================================================== */

/* Pie de página del sitio */
.site-footer {
    /* Tamaño de fuente adaptativo */
    @include font-size(8, mobile, true, true, true);
    @include media( '>medium' ) { @include font-size(8, desktop, true, true, true); }

    /* Estilos personalizados para enlaces */
    a {
        @include anchor-aspect(footer);
    }
}

/* Contenedor interno del footer */
.site-footer-inner {
    /* Permite mostrar elementos encima de los fondos */
    position: relative;
    /* Layout flexible con múltiples elementos */
    display: flex;
    /* Permite que los elementos se envuelvan a la siguiente línea */
    flex-wrap: wrap;
    /* Espaciado vertical */
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-brand,
.footer-links,
.footer-social-links,
.footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.footer-brand,
.footer-links,
.footer-social-links {
    margin-bottom: 24px;
}

.footer-social-links {

    li {
        display: inline-flex;

		+ li {
			margin-left: 16px;
		}

        a {
            padding: 8px;
        }
    }
}

.footer-links {

    li {

        + li {
            margin-left: 24px;
        }
    }
}

@include media( '>medium' ) {

	.site-footer {
		margin-top: 20px;
	}

    .site-footer-inner {
        justify-content: space-between;
		padding-top: 64px;
		padding-bottom: 64px;
    }

    .footer-brand,
    .footer-links,
    .footer-social-links,
    .footer-copyright {
        flex: 50%;
    }

    .footer-brand,
    .footer-copyright {
        justify-content: flex-start;
    }

    .footer-links,
    .footer-social-links {
        justify-content: flex-end;
    }

    .footer-links {
        order: 1;
        margin-bottom: 0;
    }
}
